BACKEND_URL=http://localhost:9000
NEXT_PUBLIC_BACKEND_URL=/api/proxy
NEXT_PUBLIC_DEV_BACKEND_URL=/api/proxy
NEXT_PUBLIC_PROD_BACKEND_URL=/api/proxy
NEXT_PUBLIC_ADMIN_TITLE=Travel 2 Dubai Admin Dashboard
NEXT_PUBLIC_ADMIN_BRAND_NAME=Travel 2 Dubai Admin Control Center
